#btn-gitlab {
    background-color: #FF6D18;
}

#btn-linkedin {
    background-color: #0076b7;
}

#btn-github {
    background-color: #FFFFFF;
    transition: all 1s;
}

#btn-github:hover {
    background-color: #000000;
}

#btn-frontend-mentor {
    background-color: #FFFFFF;
}

#btn-codecamp {
    background-color: #0A0A22;
}

#btn-solyd {
    background-color: #010101;
}